$buttonText: #ffffff;
$buttonColor: #0063b0;
$buttonColorHover: #023e83;
$buttonColorClick: #002957;
$buttonTextUnavaible: #97a1a7;
$buttonColorUnavaible: #dbe2e6;
$buttonBorderUnavaible: #cdcfd1;
$buttonRadius: 4px;

$white: #ffffff;
$red: #ff0000;
