@import './variables';
@import './default';
@import './components/_all.scss';

body {
    padding: 0;
    margin: 0;
}

h1 {
}

input {
    border: 1px solid #cdd1d4;
    border-radius: 4px;
    margin: 0.5em;
    margin-left: 0;
}

.radio-box {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    margin-left: 0;

    input[type='radio'] {
        margin-left: 2em;
    }
}
